# Ignore everything
*
*/**


# Whitelist what you need
!.vscodeignore
!dist/**/*.cjs
!dist/**/*.js
!dist/**/*.css
!dist/**/*.ttf
!dist/vendor/**/*.d.ts
!CHANGELOG.md
!LICENSE.txt
!README.md
!icon.png
!assets/**