@import "tailwindcss";
@import "../nord.min.css";

:root {
    color-scheme: light dark;
    height: 100%;
}

html {
    height: 100%;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: var(--vscode-editor-font-family), monospace;
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-editor-background);
    height: 100%;
    padding: 0;
}

.markdown {
    all: initial;
}

.markdown>* {
    all: revert;
    font-family: var(--vscode-editor-font-family), monospace;
    color: var(--vscode-editor-foreground);
}

.markdown table {
    @apply mt-2;
}

.markdown th {
    @apply border p-2;
}

.markdown td {
    @apply border p-2;
}